body {
    background-color: #ededed;
}

.application_form h1 {
    text-align: center;
    margin: 10px 0;
}

.application_form p {
    margin-top: 10px;
}

.application_form fieldset {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.application_form textarea {
    width: 100%;
}

.application_form button {
    margin: 10px;
    padding: 10px;
    background-color: seagreen;
    cursor: pointer;
    
}

.application_form .reset {
    background-color: red;
}

